html, body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.scoreboard-text {
    color: white;
    font-family: 'Lato', sans-serif;
    flex-basis: 50%;
    text-align: center;
}

#scoreboard {
    color: white;
    background:rgb(36, 35, 35);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 750px;
}
button.reset {
    background-color: rgb(128, 161, 48); /* Green */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    width: 15%;
    height: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
button.easy {
    background-color: rgb(138, 72, 177);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    width: 15%;
    height: 4%;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  button.medium {
    background-color: rgb(30, 156, 187);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    width: 15%;
    height: 4%;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  button.hard {
    background-color: rgb(201, 98, 29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    width: 15%;
    height: 4%;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
