html, body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 60px;
  padding: 2rem 4rem;
  background-color: rgb(15, 209, 144);
  /* background-color: #4CAF50; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(36, 35, 35);
  /* background-color: #39463a; */
}

canvas {
  display: none;
}
.scoreboard-text {
    color: white;
    font-family: 'Lato', sans-serif;
    flex-basis: 50%;
    text-align: center;
}
#scoreboard {
    color: white;
    background:rgb(36, 35, 35);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 750px;
}
button.reset {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 2rem;
    background-color: rgb(36, 35, 35);
    width: 15%;
    height: 7%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
  }
button.easy {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 2rem;
    background-color: rgb(138, 72, 177);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    height: 7%;
    margin: auto;
  }
  button.medium {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 2rem;
    background-color: rgb(30, 156, 187);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    width: 15%;
    height: 7%;
  }
  button.hard {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 2rem;
    background-color: rgb(201, 98, 29);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    width: 15%;
    height: 7%;
  }
  .container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 20px;
    margin-bottom: auto;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:hover {
    background-color: #3e8e41;
  }
  
  
  
  
